In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sn
from datetime import datetime

In [2]:
sample = pd.read_csv('G_PSQL_data/JAN_sample.txt')
sample

C:\Users\broug\AppData\Local\Temp\ipykernel_16104\1040758470.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  sample = pd.read_csv('G_PSQL_data/JAN_sample.txt')

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-01-01,NK,NK,NK,955,NK,N507NK,955,12892,LAX,...,337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,AA,AA_CODESHARE,AA,5216,OH,N256PS,5216,11278,DCA,...,313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,AA,AA_CODESHARE,AA,5225,OH,N594NN,5225,11057,CLT,...,761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,AA,AA_CODESHARE,AA,5227,OH,N573NN,5227,11057,CLT,...,651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,NK,NK,NK,811,NK,N640NK,811,13204,MCO,...,1189,3.0,0.0,14.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112187,2018-01-31,DL,DL_CODESHARE,DL,5786,CP,N622CZ,5786,12892,LAX,...,834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112188,2018-01-31,DL,DL_CODESHARE,DL,5793,CP,N610CZ,5793,12889,LAS,...,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112189,2018-01-31,DL,DL_CODESHARE,DL,5798,CP,N606CZ,5798,14747,SEA,...,1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112190,2018-01-31,DL,DL_CODESHARE,DL,5811,CP,N628CZ,5811,14747,SEA,...,1024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112191,2018-01-31,DL,DL_CODESHARE,DL,6187,G7,N181GJ,6187,15016,STL,...,440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sample['dep_time'] = pd.to_datetime(sample['dep_time'], format='%H%M', errors='coerce')
sample['arr_time'] = pd.to_datetime(sample['arr_time'], format='%H%M', errors='coerce')
sample

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,cancelled,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time
0,2019-01-01,NK,NK,NK,955,NK,N507NK,955,12892,LAX,...,0,71.0,55.0,337,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,AA,AA_CODESHARE,AA,5216,OH,N256PS,5216,11278,DCA,...,0,64.0,51.0,313,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,AA,AA_CODESHARE,AA,5225,OH,N594NN,5225,11057,CLT,...,0,116.0,93.0,761,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,AA,AA_CODESHARE,AA,5227,OH,N573NN,5227,11057,CLT,...,0,122.0,101.0,651,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,NK,NK,NK,811,NK,N640NK,811,13204,MCO,...,0,169.0,145.0,1189,3.0,0.0,14.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112187,2018-01-31,DL,DL_CODESHARE,DL,5786,CP,N622CZ,5786,12892,LAX,...,0,152.0,122.0,834,NaN,NaN,NaN,NaN,NaN,NaN
112188,2018-01-31,DL,DL_CODESHARE,DL,5793,CP,N610CZ,5793,12889,LAS,...,0,84.0,42.0,236,NaN,NaN,NaN,NaN,NaN,NaN
112189,2018-01-31,DL,DL_CODESHARE,DL,5798,CP,N606CZ,5798,14747,SEA,...,0,161.0,126.0,1050,NaN,NaN,NaN,NaN,NaN,NaN
112190,2018-01-31,DL,DL_CODESHARE,DL,5811,CP,N628CZ,5811,14747,SEA,...,0,142.0,107.0,1024,NaN,NaN,NaN,NaN,NaN,NaN
112191,2018-01-31,DL,DL_CODESHARE,DL,6187,G7,N181GJ,6187,15016,STL,...,0,86.0,62.0,440,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sample.to_csv('JAN_sample.csv')

In [15]:
delayed = sample[sample['arr_delay'] > 0]
early = sample[sample['arr_delay'] < 0]

In [14]:
delayed.groupby('branded_code_share', as_index=False)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,cancelled,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time
4,2019-01-01,NK,NK,NK,811,NK,N640NK,811,13204,MCO,...,0,169.0,145.0,1189,3.0,0.0,14.0,0.0,0.0,NaN
5,2019-01-01,NK,NK,NK,835,NK,N691NK,835,10821,BWI,...,0,152.0,124.0,842,NaN,NaN,NaN,NaN,NaN,NaN
7,2019-01-01,NK,NK,NK,939,NK,N649NK,939,11292,DEN,...,0,94.0,77.0,628,4.0,0.0,1.0,0.0,17.0,NaN
8,2019-01-01,NK,NK,NK,949,NK,N528NK,949,12892,LAX,...,0,90.0,55.0,337,NaN,NaN,NaN,NaN,NaN,NaN
10,2019-01-01,AA,AA_CODESHARE,AA,5647,OH,N712PS,5647,11057,CLT,...,0,99.0,60.0,333,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112175,2018-01-31,DL,DL_CODESHARE,DL,6226,G7,N181GJ,6226,14492,RDU,...,0,111.0,85.0,501,NaN,NaN,NaN,NaN,NaN,NaN
112179,2018-01-31,DL,DL_CODESHARE,DL,6259,G7,N376CA,6259,11618,EWR,...,0,136.0,95.0,488,NaN,NaN,NaN,NaN,NaN,NaN
112180,2018-01-31,DL,DL_CODESHARE,DL,6271,G7,N340CA,6271,10721,BOS,...,0,119.0,93.0,612,0.0,0.0,0.0,0.0,115.0,NaN
112182,2018-01-31,DL,DL_CODESHARE,DL,6284,G7,N340CA,6284,10693,BNA,...,0,76.0,57.0,442,0.0,0.0,0.0,0.0,64.0,NaN
112186,2018-01-31,DL,DL_CODESHARE,DL,6299,G7,N690CA,6299,13487,MSP,...,0,141.0,73.0,604,NaN,NaN,NaN,NaN,NaN,NaN